@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.navbar {
    font-family: "Poppins", sans-serif;
    padding: 20px;
    /* width: 100vw; */
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.7);
    background-color: #10495c;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    color: #f2ad5f; 
}

.navbar-flex {
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
}

.navbar-flex-option {
    font-size: 14px;
    color: #b3c6cb;
    padding: 10px 15px;
}

.navbar-flex-option:hover {
    transition: 0.4s all ease;
    color: #f2ad5f;
}

.navbar a{
    text-decoration: none;
}

